/*
 * EDM Cake Global Mixins
 *
 * Author: Zachary Fisher - zfisher@zfidesign.com
 * * * * * * * * * * * * * * * * * * * * * * * * */

@mixin opacity($level) {
   opacity: $level;
   filter: alpha(opacity=($level * 100));
}

@mixin border-radius($radius) {
   border-radius: $radius;
   -moz-border-radius: $radius;
   -webkit-border-radius: $radius;
}

@mixin box-shadow($shadow) {
   -webkit-box-shadow: $shadow;
   -moz-box-shadow: $shadow;
   box-shadow: $shadow;
}

@mixin text-shadow($shadow) {
   -webkit-text-shadow: $shadow;
   -moz-text-shadow: $shadow;
   text-shadow: $shadow;
}

@mixin bg-image($path) {
   background: url('../images/' + $path);
}

@mixin customFont() {
   font-family: 'Yanone Kaffeesatz', sans-serif;
}