/* ALL */
* {
   //cursor: default;
   font-family: 'Open Sans', sans-serif;
   font-size: 12px;
   margin: 0;
   padding: 0;
   text-rendering: optimizeLegibility;
}

body {

   padding: 10px;
}

h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }

ul { list-style-type: none; }

.hidden { display: none; }
.vhidden { visibility: hidden; }
.right { float: right; }
.left { float: left; }
.clr { clear: both; }

/* BORDER */
.border {
   height: 1px;
   width: 100%;
   &.black { border-bottom: 1px solid black; }
   &.white { border-bottom: 1px solid white; }
}

.b1 {
   &.black { border: 1px solid black; }
   &.white { border: 1px solid white; }
}

.b2 {
   &.black { border: 2px solid black; }
   &.white { border: 2px solid white; }
}

.b3 {
   &.black { border: 3px solid black; }
   &.white { border: 3px solid white; }
}

/* FONT COLOR */
.text {
   &.black { color: black; }
   &.white { color: white; }
   &.uppercase { text-transform: uppercase; }
   &.t-right { text-align: right; }
   &.t-left { text-align: left; }
   &.t-center { text-align: center; }
}

/* FONT SIZE */
.fs10 { font-size: 10px !important; }
.fs12 { font-size: 12px !important; }
.fs14 { font-size: 14px !important; }
.fs16 { font-size: 16px !important; }
.fs18 { font-size: 18px !important; }
.fs20 { font-size: 20px !important; }

/* FONT WEIGHT */
.fw500 { font-weight: 500; }
.fw600 { font-weight: 600; }

/* LINE HEIGHT */
.lh14 { line-height: 14px; }
.lh16 { line-height: 16px; }
.lh18 { line-height: 18px; }
.lh20 { line-height: 20px; }
.lh22 { line-height: 22px; }
.lh24 { line-height: 24px; }
.lh26 { line-height: 26px; }

/* BACKGROUND */

/* POSITION */
.absolute { position: absolute; }
.relative { position: relative; }

/* TOP */
.t-5 { top: -5px; }
.t-4 { top: -4px; }
.t-3 { top: -3px; }
.t-2 { top: -2px; }
.t-1 { top: -1px; }
.t0 { top: 0; }
.t1 { top: 1px; }
.t2 { top: 2px; }
.t3 { top: 3px; }
.t4 { top: 4px; }
.t5 { top: 5px; }
.t6 { top: 6px; }
.t7 { top: 7px; }
.t8 { top: 8px; }
.t9 { top: 9px; }
.t10 { top: 10px; }
.t11 { top: 11px; }
.t12 { top: 12px; }
.t13 { top: 13px; }
.t20 { top: 20px; }
.t45 { top: 45px; }
.t50 { top: 50px; }

/* BOTTOM */
.b0 { bottom: 0; }
.b1 { bottom: 1px; }
.b2 { bottom: 2px; }
.b3 { bottom: 3px; }
.b4 { bottom: 4px; }
.b5 { bottom: 5px; }

/* LEFT */
.l0 { left: 0; }
.l1 { left: 1px; }
.l5 { left: 5px; }
.l10 { left: 10px; }

/* RIGHT */
.r0 { right: 0; }
.r1 { right: 1px; }
.r2 { right: 2px; }
.r3 { right: 3px; }
.r4 { right: 4px; }
.r5 { right: 5px; }
.r10 { right: 10px; }

/* PADDING */
.p0 { padding: 0; }
.p5 { padding: 5px; }
.p8 { padding: 8px; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }

/* PADDING TOP */
.pt0 { padding-top: 0; }
.pt1 { padding-top: 1px; }
.pt2 { padding-top: 2px; }
.pt3 { padding-top: 3px; }
.pt4 { padding-top: 4px; }
.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt25 { padding-top: 25px; }

/* PADDING BOTTOM */
.pb1 { padding-bottom: 1px; }
.pb2 { padding-bottom: 2px; }
.pb3 { padding-bottom: 3px; }
.pb4 { padding-bottom: 4px; }
.pb5 { padding-bottom: 5px; }
.pb6 { padding-bottom: 6px; }
.pb7 { padding-bottom: 7px; }
.pb8 { padding-bottom: 8px; }
.pb9 { padding-bottom: 9px; }
.pb10 { padding-bottom: 10px; }

/* PADDING LEFT */
.pl10 { padding-left: 10px; }

/* PADDING RIGHT */
.pr10 { padding-right: 10px; }
.pr25 { padding-right: 25px; }

/* MARGIN */
.m0 { margin: 0; }
.m5 { margin: 5px; }
.m8 { margin: 8px; }
.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m20 { margin: 20px; }
.m25 { margin: 25px; }

.ml5 { margin-left: 5px; }

.m0-25 { margin: 0 25px; }

.mr-10 { margin-right: -10px; }

.mr10 { margin-right: 10px; }
.mr25 { margin-right: 25px; }
.mr50 { margin-right: 50px; }

.mt-1 { margin-top: -1px; }

/* HEIGHT */
.h300p { height: 300px; }
.h195p { height: 195px; }
.h110p { height: 110px; }
.h105p { height: 105px; }

.h100 { height: 100%; }
.h66 { height: 66%; }
.h65 { height: 65%; }
.h50 { height: 50%; }
.h34 { height: 34%; }
.h33 { height: 33%; }

/* WIDTH */
.w100 { width: 100%; }
.w80 { width: 80%; }
.w70 { width: 70%; }
.w66 { width: 66%; }
.w60 { width: 60%; }
.w50 { width: 50%; }
.w40 { width: 40%; }
.w35 { width: 35%; }
.w34 { width: 34%; }
.w33 { width: 33%; }
.w30 { width: 30%; }

/* CURSOR */
.cursor {
   &.pointer { cursor: pointer; }
}

/* OVERFLOW */
.overflow {
   &.x-hidden { overflow-x: hidden; }
   &.y-hidden { overflow-y: hidden; }
}